.d-flex {
    display: flex;
    margin: 0 auto;
}

.search-bar {
    display: flex;
    margin: 1% auto 0;
}

.navbar {
    background-color: #BF9C42;
}

.container {
    margin: 5% 0;
}

.search {
    margin: 0 auto;
    padding: 3% 0;
}

.recipe-card {
    margin: 3% auto;
}

.recipe {
    margin: 4% 4%;
}

.title {
    margin: 2% 0;
}

.main-title {
    margin: 2% 0;
}

.banner-image {
    width: 100%;
}

.ingredients {
    margin: 5% 0;
}

.footer {
    text-align: center;
    background-color: #BF9C42;
    padding: 2% 0;
}

@media (min-width: 540px) {
    .cards {
        flex-wrap: wrap;
    }
	
	.recipe {
        margin: 0 10%;
    }
}

@media (min-width: 768px){
    .container {
        margin: 0;
    }

    .footer {
        margin: 0;
        padding: 1%;
    }

    .recipe-card {
        margin: 3% 3%;
    }

    .cards {
        display: flex;
        margin: 0 5%;
        justify-content: center;
    }

    .banner-main {
        display: flex;
        margin: 2% 0;
    }

    .ingredients {
        text-align: left;
        margin: 0 2%;
        font-size: 15px;
    }
}

@media (min-width: 992px){
    .d-flex {
        margin-right: 15%;
        width: 50%;
    }

    .container {
        margin-left: 15%;
    }
	
	.recipe {
        margin: 0 15%;
    }

    .ingredients {
        margin: 2% 0;
        margin-left: 2%;
        font-size: 17px;
    }
	
	.banner-main {
		text-align: center;
	}

    .main-title {
        margin-bottom: 0;
    }
}